.hero{
    background-color: white;
    height: 90dvh;
    padding: 5dvh 8dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #cerebro_hero{
        height: 80dvh;
        width: 80dvw;
        margin-right: 5dvw;
    }
    #text_hero{
        font-size: 6dvw;
        text-shadow: 1.2dvh 1.6dvh 3dvh rgb(41, 41, 41);
    }
}