
$margem-padrao: 2dvw;
$fonte-texto: "Arial", sans-serif;
$cor-de-fundo: #d9d9d9;

.header{
  font-family: $fonte-texto;
  background-color: $cor-de-fundo;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3dvh 9dvw;
  height: 10dvh;
  img{
    height: 8dvh;
  }
  .links{
    margin-right: $margem-padrao;
    a{
      text-decoration: none;
      margin-left: $margem-padrao;
      font-size: 2.5dvh;
      &:hover{
        font-size: 2.6dvh;
        transition: 0.3s;
      }
      &#sign-button{
        border: solid black 0.2dvh;
        padding: 1.2dvh 1.5dvw;
      }
    }
  }
}

