<div class="sign-screen">
    <div id="sign-box">
        <h2>Cadastrar</h2>

        <div id="login-form">
            <p class="login-identificacao">Email</p>
            <input type="text" class="sign-inputs" placeholder="Email">
            <p class="login-identificacao">Senha</p>
            <input type="password" class="sign-inputs" placeholder="Senha">
            <p class="login-identificacao">Nome</p>
            <input type="text" class="sign-inputs" placeholder="Nome">
        </div>
        
        <button id="submit-button">Cadastrar-se</button>
    </div>
</div>
