$cor-de-fundo: #d9d9d9;


.footer{
    background-color: $cor-de-fundo;
    font-family: arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3dvh 4dvw;
    height: 35dvh;
    #coluna_1{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 20dvw;
        font-size: 3dvh;
        img{
            height: 10dvh;
            margin-bottom: 1dvh;
        }    
        p{
            margin-bottom: 1dvh;
        }
        #redes_sociais{
            display: flex;
            gap: 2dvw;
            margin-top: 1dvh;
            img{
                height: 4dvh;
                transition: all 0.3s ease;
            }
        }    
    }
    #coluna_2{
        font-size: 2dvh;
        color: #555555;
        height: 90%;
        display: flex;
        align-items: end;
    }
}