$cor-de-fundo: #d9d9d9;
$fonte-texto: "Arial", sans-serif;

.footer{
    background-color: $cor-de-fundo;
    font-family: $fonte-texto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2dvh 4dvw;
    #coluna_1{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 20dvw;
        font-size: 2.6dvh;
        img{
            height: 8dvh;
        }        
    }
}