<div class="cards-container">
    <h2>Veja algumas de nossas vantagens</h2>
    <div class="cards">
        <div class="cards-esquerda">
            <app-card description="Acesse o site com uma simples leitura com a camera de seu celular" title="Qr codes" imageUrl="assets/logos/cards/qr_code.webp"></app-card>
        </div>
        <div class="cards-direita">
             <app-card description="mais rápido que o relâmpago Mcqueen" title="Velocidade" imageUrl="assets/logos/cards/raio.webp"></app-card>
        </div>
    </div>
</div>
